*.jpg filter=lfs diff=lfs merge=lfs -text
default_env.tres filter=lfs diff=lfs merge=lfs -text
export_presets.cfg filter=lfs diff=lfs merge=lfs -text
icon.png filter=lfs diff=lfs merge=lfs -text
Music filter=lfs diff=lfs merge=lfs -text
project.godot filter=lfs diff=lfs merge=lfs -text
Builds filter=lfs diff=lfs merge=lfs -text
icon.png.import filter=lfs diff=lfs merge=lfs -text
Scenes filter=lfs diff=lfs merge=lfs -text
Scripts filter=lfs diff=lfs merge=lfs -text
Sprites filter=lfs diff=lfs merge=lfs -text
Fonts filter=lfs diff=lfs merge=lfs -text
